body
{
    font-family: 'Roboto Slab', serif;
}

h1
{font-size: 35px;}

.color_1
{   color:blue;   }

.color_2
{   color:purple;}

.color_3
{
    color: fuchsia;
}

section 
{
    display: flex;
}

.half_width_1
{
    width: 55%;
    padding-left: 2%;
    text-align: justify;
}

.half_width_2
{
    width: 45%;
    padding-left: 2%;
}

.half_width_2 img
{
    width: 90%;
    padding-top: 20%;
}

.link_button
{
    text-decoration: none;
    background-image:linear-gradient(orange, Red) ;
    padding: 10px 40px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}